:root {
    --bg: #fff;
    --bg1: #fff9;
    --blur: blur(10px);
    --hover-color: #dfdfdf;
    --transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    --border-radius: 8px;
    --height: 40px;
    --color: #000;
    --font-size: 16px;
    --main-bar-size: 24px;
    --icon-color: none;
    --icon-color1: invert(1);
    --b-button: 32px;
    --o-padding: 8px;

    --x-x-handle-d: block;
    --x-x-handle-w: 8px;
    --x-x-handle-o: calc(50% - var(--x-x-handle-w) / 2);
    --x-x-handle-o2: calc(-0.5 * var(--x-x-handle-w));
}

html,
body {
    margin: 0;
    font-family: sans-serif;
    font-size: var(--font-size);
    color: var(--color);
}

.icon {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    filter: var(--icon-color);
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
::-webkit-scrollbar-track {
    background: #0000;
}
::-webkit-scrollbar-button {
    height: 8px;
    width: 8px;
    background-color: #0000;
}
::-webkit-scrollbar-corner {
    background-color: #0000;
}

button {
    outline: none;
    color: var(--color);
    font-family: var(--main-font);
    border-radius: var(--border-radius);
    background-color: var(--bg);
    height: var(--height);
    border: none;
    margin: 0px;
    padding: 0;
    transition: var(--transition);
    width: var(--b-button);
    height: var(--b-button);
    position: relative;
}
button:hover {
    background-color: var(--hover-color);
}
button > .icon {
    width: var(--b-button);
}

input {
    outline: none;
    background-color: #0000;
    color: var(--color);
    border: none;
    border-bottom: 1px solid var(--color);
}

select {
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--bg);
    height: var(--height);
    border: none;
    outline: none;
    margin: 0px;
    color: var(--color);
    padding: 0 var(--o-padding) 0 var(--o-padding);
    transition: var(--transition);
    user-select: none;
}

select:hover {
    background-color: var(--hover-color);
}
option {
    background-color: var(--bg);
}
textarea {
    outline: none;
    background-color: #0000;
    color: var(--color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bar-bg: rgba(0, 0, 0, var(--alpha));
        --bar-hover-color: #fff2;
        --bg: #000;
        --bg2: #1f1f1f;
        --hover-color: #333;
        --m-color1: hsl(224deg 100% 38%);
        --m-color2: hsl(0, 0%, 14%);
        --shadow: #fff9 0 0 2px;
        --color: #fff;
        --color2: #aaa;
        --border: 1px #fff solid;
        --icon-color: var(--icon-color1) !important;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #444;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    kbd {
        box-shadow: 0 5px #fff4;
        background: linear-gradient(315deg, #191919, #000);
    }
}

body::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.buttons {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.root {
    width: 100vw;
    flex-grow: 1;
    overflow: scroll;
    & > div {
        & > :first-child {
            display: flex;
            & > div {
                width: 24px;
                height: 24px;
            }
        }
        & > :last-child {
            & > img {
                max-width: 200px;
                max-height: 200px;
                border-radius: 8px;
            }
        }
    }
}

.input {
    width: 100%;
    background: var(--bg1);
    backdrop-filter: var(--blur);
    & > textarea {
        width: 100%;
        resize: vertical;
    }
    & > div {
        & > img {
            max-width: 200px;
            max-height: 200px;
            border-radius: 8px;
        }
    }
}
